.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* z-index 属性设定了一个定位元素及其后代元素或 flex 项目的 z-order。 当元素之间重叠的时候， z-index 较大的元素会覆盖较小的元素在上层进行显示。 */
    z-index: -1;
}

main {
    padding-top: 2rem;
    margin-top: 2.5rem;
}

.package {
    width: 80%;
    border: 4px solid #0e4f1f;
    border-left: none;
    margin: 1rem 0;
    position: relative;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
    /* border-color: #ff5454 !important; */
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    background: #ff5454;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    background: white;
    border: 1px solid #0e4f1f;
    padding: 2rem;
    font-size: 1.2rem;
    color: #0e4f1f;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 200, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}