#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") left 10% bottom 60%/cover no-repeat border-box fixed, #ff1b68;
    /* background-image: url("freedom.jpg");
    background-size: cover;
    background-position: left 10% bottom 50%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: fixed; */
    /* background-image: linear-gradient(180deg, red 50%, blue 50%, rgba(0, 255, 255, 0.5)); */
    /* background-image: radial-gradient(circle 200px at 20% 50%, red, blue, green); */
    width: 100%;
    /* vw计算的是整个视口的宽度，包括滚动条，百分比计算宽度的后会不包括滚动条，移动端的滚动条不占位置。 */
    height: 70vh;
    margin-top: 2.5rem;
    /* border: 5px dashed red; */
    position: relative;  
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    /* CSS box-shadow 属性用于在元素的框架上添加阴影效果，该属性可设置的值包括X轴偏移、Y轴偏移、阴影模糊半径、阴影扩散半径，和阴影颜色，并以多个逗号分隔。 */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    /* CSS 属性 border-radius 允许你设置元素的外边框圆角。当使用一个半径时确定一个圆形，当使用两个半径时确定一个椭圆。这个(椭)圆与边框的交集形成圆角效果。iumjmn]k,  */
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0eff1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
    padding: 1.5rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

/* h1 {
    font-family: sans-serif;
} */